.landingPage {
    width: 100%;
  }
  
  /* Navigation */
  
  .navigationContainer {
    margin: auto;
    width: 100%;
    position: fixed;
    background: #33b8f3;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .navLogo {
    width: 300px;
  }
  .navLogo:hover {
    cursor: pointer;
  }
  .navigation {
    display: flex;
    /* flex-direction: row; */
  }
  
  .navImgContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0;
  }
  .mobileLogo {
    margin: auto;
    width: 250px;
  }
  
  .fa-bars {
    font-size: 40px;
    color: white;
    display: none;
  }
  .fa-bars:hover {
    cursor: pointer;
  }
  .fa-chevron-circle-down {
    display: none;
    font-size: 40px;
    color: white;
  }
  .fa-chevron-circle-down:hover {
    cursor: pointer;
  }
  
  .menuFont {
    font-size: 20px;
    font-weight: bold;
    color: grey;
  }
  
  /* Home Page */
  .homeContainer {
    /* width: 100%; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
  }
  
  .section {
    /* margin: auto; */
    /* max-height: 300px;  */
    /* width: 100%; */
    /* align-content: center; */
    /* display: flex; */
    background: white;
  }
  .section:nth-child(odd) {
    background: #9b9b9b;
  }
  
  .section:first-child {
    padding-top: 30px;
    height: 100vh;
    background: #33b8f3;
  }
  
  .topMain {
    margin: auto;
    height: 95%;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .HomePageLogoContainer {
    width: 300px;
  }
  .HomePageLogo {
  }
  
  .topTextContainer {
    margin: 50px;
    width: 200px;
    color: white;
    text-align: center;
  }
  
  .topButton {
    background: #9b9b9b;
    border: #9b9b9b;
    font-weight: bold;
  }
  
  .fa-arrow-down {
    color: #9b9b9b;
    margin: auto;
  }
  .fa-arrow-down:hover {
    cursor: pointer;
  }
  
  .bottomButton {
    height: 5%;
    /* padding-top:0.5%; */
    background: white;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .sectionContent {
    margin: auto;
    padding: 10px;
    width: 70%;
    display: flex;
    flex-direction: row;
  }
  .ContentReverse {
    color: white;
    display: flex;
    flex-direction: row-reverse;
  }
  
  .textContainer {
    width: 30%;
    margin: auto;
  }
  .imgContainer {
    width: 60%;
    display: flex;
    align-items: center;
  }
  .illustration {
    padding: 10px;
    width: 90%;
    margin: auto;
    /* height:100px; */
    /* height: auto; */
  }
  @media only screen and (max-width: 900px) {
    .sectionContent {
      padding: 0;
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 700px) {
    .navigation {
      display: none;
    }
    .fa-bars {
      display: block;
    }
    /*  */
    .sectionContent {
      padding: 10px 0;
      width: 100%;
      align-items: center;
      flex-direction: column;
    }
    .textContainer {
      width: 90%;
      margin: auto;
    }
    .imgContainer {
      width: 90%;
    }
    /*  */
    .HomePageLogoContainer {
      padding: 30px;
    }
    .sectionContent {
    }
  }
  
  @media only screen and (max-width: 450px) {
    .navigationContainer {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .fa-bars {
      display: none;
    }
    .fa-chevron-circle-down {
      display: block;
    }
    .topMain {
      flex-direction: column;
    }
    .HomePageLogoContainer {
      padding: 10px 0px;
      width: 50%;
    }
    .topTextContainer {
      margin: 0px;
      width: 95%;
    }
    .topMain {
      height: 90%;
    }
    .bottomButton {
      height: 10%;
    }
    .sectionContent {
      flex-direction: column;
    }
    .textContainer {
      width: 90%;
      margin: auto;
    }
    .imgContainer {
      width: 90%;
    }
  }
  
  @media only screen and (max-width: 350px) {
    .navLogo {
      width: 100%;
    }
    .introText {
      display: none;
    }
    .topButton {
      display: none;
    }
  }
  /* Footer */
  .footerContainer {
    min-height: 40px;
    padding: 5px;
    text-align: center;
    background: #33b8f3;
    font-weight: bold;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .iconLinks {
    color: white;
    /* font-weight: bold; */
    font-size: 25px;
    padding: 0px 4px;
  }
  .iconLinks:hover {
    cursor: pointer;
  }
  .footerLink {
    color: white;
    font-weight: bold;
  }
  .footerLink:hover {
    cursor: pointer;
  }
  
  @media only screen and (max-width: 450px) {
    .footerContainer {
      min-height: 40px;
      padding: 10px;
      text-align: center;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
    }
  }
  
  /* posts page */
  
  .postContainer {
    width: 100;
    min-height: 95vh;
  }
  .cardsContainer {
    height: auto;
    padding-top: 100px;
    margin: auto;
    /* border:solid; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  /* Userpage */
  
  .userPage {
    padding-top:100px;
    min-height: 95vh;
    width:700px;
    margin:auto;
  }
  
  .usersInfo{
    background:white;
    min-height:100px;
    width:800px;
    display:flex;
    padding:20px;
    display:flex;
    align-items: center;
    border-radius: 10px;
  }
  .usersPosts{
    margin-top:50px;
    background:white;
    min-height:100px;
    width:800px;
    /* padding:40px; */
    border-radius: 10px;
    display:flex;
    flex-wrap:wrap
  }
  .profileImageContainer{
    border-radius: 100%;
    width:200px;
    height:200px;
    border:solid black 4px;
    overflow: hidden;
    /* display:flex; */
    /* align-content: center; */
    /* margin: auto; */
  }
  .profileImage{
    width:100%;
  }
  
  
  .contactInfoContainer{
  
  margin:auto;
  }
  
  .contactInfo{
  display:flex;
  justify-content: space-around;
  align-items: center;
  width:100%;
  }
  .bioContainer{
  width:100%;
  }
  